.button {
  background-color: blueviolet;
  border-radius: 0.2em;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 700;
  padding: 0.8em 1.4em;
}
