.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 164px);
  padding: 0 0.5rem;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 3rem 0;
}

.title {
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  margin-bottom: 1.5em;
}

.title svg {
  margin-right: 0.5em;
}

.checkout {
  font-size: 1.5rem;
  margin-top: 2em;
}

.table {
  font-size: 1.2rem;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.empty {
  font-size: 1.2rem;
  text-align: center;
}

.empty a {
  text-decoration: underline;
}
