.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 164px);
  padding: 0 0.5rem;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 5rem 0;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #6a3093, #a044ff);
  font-size: 4.3rem;
  line-height: 1.15;
  margin: 0;
}

@media (max-width: 414px) {
  .title {
    font-size: 3rem;
  }
}

.title,
.description {
  text-align: center;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 1.1rem;
  padding: 0.75rem;
}

.grid {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin-top: 3rem;
  margin-top: 3rem;
  max-width: 60rem;
  padding-left: 0;
}

.card {
  color: inherit;
  flex-basis: calc(50% - 2rem);
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

@media (min-width: 960px) {
  .card {
    flex-basis: calc(33.33% - 2rem);
  }
}

.card img {
  border-radius: 0.5em;
  display: block;
  margin: 0 -0.5em 1em;
  max-width: 100%;
  padding: 0.5em;
}

.card:hover img {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

.card p {
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}

.cart {
  display: flex;
  font-size: 1.5em;
  list-style: none;
  padding: 0;
}

.cart li {
  align-items: center;
  display: flex;
  margin: 0 0.5em;
}

.cart strong,
.cart svg {
  margin-right: 0.4em;
}
