.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 60rem;
  padding: 3rem;
}

@media (max-width: 960px) {
  .main {
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
  }
}

.title {
  font-size: 3.5rem;
  line-height: 1.15;
  margin: 0;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
}

.productImage {
  margin-right: 2em;
}

@media (max-width: 960px) {
  .productImage {
    margin: 0;
  }
}

.productImage img {
  max-width: 400px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
}

.button {
  background-color: blueviolet;
  border-radius: 0.2em;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 700;
  padding: 0.8em 1.4em;
}
